@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import './radius.css';
@import './spacing.css';
@import './typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html,
  body {
    font-family: '"Pretendard Std Variable", "Pretendard Std", Pretendard';
    @apply regular-14-body;
    @apply text-gray-default;
  }
}

:root {
  --color-basic-default: #ffffff;
  --color-basic-w: #ffffff;
  --color-basic-w50: rgba(255, 255, 255, 0.5);
  --color-basic-b: #000000;

  --color-primary50: #fff0e6;
  --color-primary100: #ffe3d3;
  --color-primary200: #ffd7bf;
  --color-primary300: #ffcaac;
  --color-primary400: #ffbe98;
  --color-primary500: #ffb284;
  --color-primary600: #ffa571;
  --color-primary700: #ff995d;
  --color-primary800: #ff8036;
  --color-primary900: #ff670f;

  --color-red500: #ff3b30;
  --color-green500: #00c400;
  --color-blue500: #007aff;
  --color-pink500: #ff2d55;
  --color-orange500: #ff9500;
  --color-darkblue5: rgba(68, 109, 211, 0.05);

  --color-gray50: #f9fbff;
  --color-gray100: #f6f8fd;
  --color-gray200: #eef0f6;
  --color-gray300: #e5e7ee;
  --color-gray400: #cdcfd9;
  --color-gray500: #9b9eab;
  --color-gray600: #808490;
  --color-gray700: #3f4148;
  --color-gray800: #303137;
  --color-gray900: #1b1b1f;
  --color-gray900-9: rgba(27, 27, 31, 0.9);
  --color-dim-normal-70: rgba(0, 0, 0, 0.7);

  /* background */
  --bg-default: var(--color-basic-default);
  --bg-default-alt: var(--color-gray900);
  --bg-basic-b-alt: var(--color-basic-b);
  --bg-basic-b-snackbar: var(--color-basic-b);
  --bg-gray-btn-disabled: var(--color-gray400);
  --bg-gray-btn-inact: var(--color-gray500);
  --bg-gray-btn-action: var(--color-gray600);
  --bg-gray-ic-default: var(--color-gray900);
  --bg-gray-ic-sub: var(--color-gray700);
  --bg-gray-ic-act: var(--color-gray600);
  --bg-gray-input-fixed: var(--color-gray200);
  --bg-gray-act-surf: var(--color-gray900);
  --bg-gray-cards: var(--color-gray100);
  --bg-gray-divider: var(--color-gray300);
  --bg-gray-divider-10: var(--color-gray300);
  --bg-gray-modal: var(--color-basic-w);
  --bg-gray-on-surf: var(--color-gray300);
  --bg-gray-surf: var(--color-gray100);
  --bg-primary-surf: var(--color-primary50);
  --bg-dim-normal-70: var(--color-gray900-9);
  --bg-primary-normal: var(--color-primary500);
  --bg-primary-btn-common: var(--color-primary500);
  --bg-primary-checkbox: var(--color-primary500);

  /* text */
  --text-gray-default: var(--color-gray900);
  --text-gray-sub: var(--color-gray700);
  --text-gray-caption: var(--color-gray600);
  --text-gray-fixed: var(--color-gray500);
  --text-gray-input: var(--color-gray600);
  --text-primary-on-surf: var(--color-primary500);
  --text-primary-on-snackbar: var(--color-primary300);
  --text-basic-w-alt: var(--color-basic-w);
  --text-basic-b-alt: var(--color-basic-b);
  --text-red-normal: var(--color-red500);
  --text-green-normal: var(--color-green500);

  /* border corlor */
  --border-gray-normal: var(--color-gray400);
  --border-gray-default: var(--color-gray900);
  --border-gray-ic-default: var(--color-gray900);
  --border-gray-ic-inactive: var(--color-gray500);
  --border-gray-ic-action: var(--color-gray600);
  --border-gray-input-active: var(--color-gray600);
  --border-default: var(--color-basic-w);
  --border-basic-w: var(--color-basic-w);
  --border-primary-normal: var(--color-primary500);
  --border-red-normal: var(--color-red500);
  --border-orange-normal: var(--color-orange500);
}
